html, body {
  box-sizing: border-box;
  display: block !important;
  margin: 0;
  min-width: 100% !important;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}